html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: white;
    box-sizing: border;
}
article {
    display: flex;
    
    
    left: 30%;
    width: 200px;
    height: 200px;
    position: relative;
    
    background-color: white;
    
}
aside {
    background-color: black;
    width: 75px;
    height: 75px;
}
.left, .center, .right {
    float: left;
    width: calc(100%/3);
    height: 100%;
}
.left{
    background-color: #3e1f00;
}
.center{
    background-color: orange;
}
.right{
    background-color: #f82c07;
}
h1{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.top_left{
    top: 8%;
}
.center_left{
    top: 14%;
    
    justify-content: center;
}
.bottom_left{
    top: 19%;
    
    justify-content: flex-end;
}
.top_center{
    top: 8%;
    align-items: center;
}
.center_center{
    top: 14%;
    
    justify-content: center;
    align-items: center;
}
.bottom_center{
    top: 19%;
    
    justify-content: flex-end;
    align-items: center;
}
.top_right{
    top: 8%;
    align-items: flex-end;
}
.center_right{
    top: 14%;
    
    justify-content: center;
    align-items: flex-end;
}
.bottom_right{
    top: 19%;
    
    justify-content: flex-end;
    align-items: flex-end;
}